<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
   
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />

    <title>Bhagavad Gita Chapters</title>

  </head>
  <body>
    <!-- Top Navigation Bar -->
    <div class="topnav">
      <a href="/home" class="logo">Bhagavad Gita</a>
      <div class="nav-links">
        <a href="/home">Chapters</a>
        <a href="/quote">Quote</a>
      </div>
      <div class="profile">
        <a class="user" style="color: black; text-decoration: none" href="/users"
          >Hello, <b><%= user.first_name %></b></a
        >

        <a href="/users">
          <img
            class="icon"
            src="<%= user.profilePicture %>"
            onerror="this.onerror=null; this.src='/uploads/default.jpg';"
            alt="Profile"
          /></a>
      </div>
    </div>

    <!-- Main Content Section -->
    <div class="AllChap">
      <h1>Welcome to Bhagavad Gita</h1>
      <p style="font-size:12px; color: grey;">Please, click on chapters to read all the verses of the chapter
      </p>
      <% if (locals.slok) { %> <% slok.forEach((data) => { %>
      <a class="chapter-link" href="chapter/<%= data.chapter_number %>">
        <p class="chapter-number">Chapter <%= data.chapter_number %></p>
        <p class="chapter-title"><%= data.name_meaning %></p>
        <p class="chapter-summary" style="max-height: 63px;"><%= data.chapter_summary %></p>
      </a>
      <% }) %> <% } %>
    </div>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-name">
          <p style="padding-top: 5px">Vraj Patel</p>
        </div>

        <div class="footer-links">
          <a
            href="www.linkedin.com/in/vraj-patel-803248235"
            class="icon-link"
            target="_blank"
          >
            <i class="fab fa-linkedin"></i>
          </a>
          <a
            href="https://github.com/Vraj-1999?tab=repositories"
            class="icon-link"
            target="_blank"
          >
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:vrajpatel479@@example.com" class="icon-link">
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Bhagwat Geeta. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
